.whychooseus {
    width: 100%;
    background: url('https://static.wixstatic.com/media/11062b_52202b331766421fa7724b6e1b94174f~mv2.jpeg/v1/fill/w_1895,h_755,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_52202b331766421fa7724b6e1b94174f~mv2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 450px;
    position: relative;
    padding: 0;
    color: white;
}

.whychooseus::before {
    content: "";
    background: rgba(0, 0, 0, 0.779);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
}

.whychooseus div {
    z-index: 1;
}

.whychooseus .left .top h3 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.whychooseus .left .top p {
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}

.whychooseus .left p {
    font-size: 14px;
    font-family:'Open Sans', sans-serif;
}

.whychooseus .right p {
    font-size: 16px;
    font-family:'Open Sans', sans-serif;
}